<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    
        <h1>Register</h1>
        <form action="/register" method="POST">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <input type="submit" value="Register">
        </form>
        <a href="/login">Login</a>
        <a href="/">Welcome Page</a>

</body>
</html>